<p id="notice"><%= notice %></p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQN6Q4ZjGmsS2Tu5QU4kbmiCoYK2T6WkmdN7eHkr5u_-h9Tuts" alt="Valley"/>
<p>
  <strong>Name:</strong>
  <%= @valley.name %>
</p>

<h4>List of Dinos</h4>

<% if @valley.dinosaurs.any? %>
  <ul>
    <% @valley.dinosaurs.each do |dino| %>
      <li><%= dino.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no dinos in this valley.</p>
<% end %>

<%= link_to 'Edit', edit_valley_path(@valley) %> |
<%= link_to 'Back', valleys_path %>
